.responsive {
    border: solid 1px red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(50px, 10vw, 181px) 10px;
}

@media screen and (max-width: 1280px) {
    .responsive {
        padding: clamp(14px, 5vw, 181px) 10px;
    }
}

@media screen and (max-width: 600px) {
    .responsive {
        padding: clamp(86px, 25vw, 158px) 10px;
    }
}

@media screen and (max-width: 430px) {
    .responsive {
        padding: clamp(138px, 30vw, 181px) 10px;
    }
}

@media screen and (max-width: 360px) {
    .responsive {
        padding: clamp(86px, 20vw, 138px) 10px;
    }
}
