<div class="col-sm-12 col-md-12 col-lg-12 d-flex flex-column flex-md-row justify-content-center align-items-center ">
  <div class="col-6 p-4" style="background-color:#7ae2cf77 ;">
    <div>
      <h1>Get in touch</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla amet doloremque hic perspiciatis fuga laboriosam magnam
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla amet doloremque hic perspiciatis fuga laboriosam magnam
        ad nihil libero? Ducimus nesciunt vel excepturi pariatur dolor porro officia itaque explicabo laboriosam.</p>  
    </div>

    <dl>
      <div class="d-flex  mb-3">
        <dt>
          <ng-icon name="featherMap" class="mx-3" ></ng-icon>
        </dt>
        <dd>
          545 Mavis Island <br> 
          New York, NY 10001
        </dd>
      </div>
      <div class="d-flex  mb-3">
        <dt>
          <ng-icon name="featherPhone" class="mx-3" ></ng-icon>
        </dt>
        <dd>
          545 Mavis Island <br> 
          New York, NY 10001
        </dd>
      </div>
      <div class="d-flex  mb-3">
        <dt>
          <ng-icon name="featherMail" class="mx-3" ></ng-icon>
        </dt>
        <dd>
          545 Mavis Island <br> 
          New York, NY 10001
        </dd>
      </div>
    </dl>
</div>

<div class="col-6 mb-3">
    <form class="mx-3 ">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter your name">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter your email">
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">Message</label>
        <textarea class="form-control" id="message" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary float-end" style="background-color: #7ae2cf; color: #06202B; border:none;">Submit</button>
    </form>
</div>
</div>
