<section class="contact-container p-4 text-center lh-lg">
  <div class="contact-header">
    <h2>Contact Us</h2>
    <p>If you have any questions or need assistance, feel free to reach out to us!</p>
  </div>

  <div class="product-content p-4">
    <article class="contact-item">
      <div class="icon-container rounded-circle-location">
        <ng-icon name="featherMap" size="40"></ng-icon>
      </div>
      <h3>Location</h3>
      <p>123 Main Street, Cityville</p>
    </article>

    <article class="contact-item">
      <div class="icon-container rounded-circle-phone">
        <ng-icon name="featherPhone" size="40"></ng-icon>
      </div>
      <h3>Phone</h3>
      <p>+1 (555) 123-4567</p>
    </article>


    <article class="contact-item">
      <div class="icon-container rounded-circle-email">
        <ng-icon name="featherMail" size="40"></ng-icon>
      </div>
      <h3>Email</h3>
      <p>contact&#64;example.com</p>
    </article>


    <article class="contact-item">
      <div class="icon-container rounded-circle-hours">
        <ng-icon name="featherClock" size="40"></ng-icon>
      </div>
      <h3>Business Hours</h3>
      <p>Mon-Fri: 9:00 AM - 6:00 PM<br>Sat-Sun: Closed</p>
    </article>
  </div>

  <h3>Follow Us</h3>
  <div class="product-content p-3">
    <div>
    <a href="https://facebook.com" class="social-link">Facebook</a>
    <div class="icon-container" >
      <ng-icon name="featherFacebook" size="40"></ng-icon>
    </div>
    </div>
    <div>
      <a href="https://twitter.com" class="social-link">Twitter</a>
      <div class="icon-container rounded-circle-X">
      <ng-icon name="featherTwitter" size="40"></ng-icon>
      </div>
    </div>

    <div>
      <a href="https://twitter.com" class="social-link">Instagram</a>
      <div class="icon-container" >
      <ng-icon name="featherInstagram" size="40"></ng-icon>
      </div>
    </div>
    
  </div>
</section>