<div style="background-color: #7ae2cf94; padding: 25px;">
    <div class="row mt-5 justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10 mb-4">
            <h3 class="fw-bold">About Us</h3>
            <dt class="mt-4 mb-4">123 Main Street, Cityville</dt>
            <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae quasi, obcaecati modi dolores rerum maiores molestiae amet magnam a atque ipsam neque unde, iusto assumenda?</dd>
            <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae quasi, obcaecati modi dolores rerum maiores molestiae amet magnam a atque ipsam neque unde, iusto assumenda?</dd>
            <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae quasi, obcaecati modi dolores rerum maiores molestiae amet magnam a atque ipsam neque unde, iusto assumenda?</dd>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10 mb-4">
            <div class="image-split">
                <div class="slice left"></div>
                <div class="slice center"></div>
                <div class="slice right"></div>
            </div>
        </div>
    </div>
</div>