<header class="navbar-container p-3">
    <a routerLink="/home" class="navbar-logo text" >MyApp</a>
    <nav class="navbar-links">
      <a routerLink="/about" routerLinkActive="active" class="text">About</a>
      <a routerLink="/contact" routerLinkActive="active" class="text">Contact</a>
      <div class="dropdown">
        <a class="dropdown-toggle text" data-bs-toggle="dropdown" style="cursor: pointer;">Discover</a>
        <ul class="dropdown-menu">
          <li><button class="dropdown-item" type="button">Action</button></li>
          <li><button class="dropdown-item" type="button">Another action</button></li>
          <li><button class="dropdown-item" type="button">Something else here</button></li>
        </ul>
      </div>
    </nav>
    <div class="icons navbar-links">
      <a routerLink="/login" class="text"><ng-icon name="featherUser" size="20"></ng-icon></a>
      <a routerLink="/cart" class="text"><ng-icon name="featherShoppingCart" size="20"></ng-icon></a>
    </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<div class="bottom-container"></div>