* {
  box-sizing: border-box;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #F5EEDD;
  width: 100%;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.text {
  text-decoration: none;
  color: #06202B;
  margin: 2px 20px;
}

.dropdown-menu {
  display: none;
}

.dropdown-menu.show {
  display: block;
}

a:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.text.active {
  text-decoration: underline;
  color: black;
}

.main {
  min-height: calc(100vh - 80px); /* Adjust based on header/footer height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom-container {
  background-image: url('https://deta.surf/footer-32-yesdither-nomatte.gif');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  filter: saturate(125%);
  padding: 9.8em;
  width: 100%;
  background-color: #7ae2cf88;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    padding: 15px;
  }

  .navbar-links {
    flex-direction: column;
    align-items: flex-start;
  }

  .text {
    margin: 5px 0;
  }
  .bottom-container {
    padding: 5em;
  }
}

@media (max-width: 480px) {
  .navbar-container {
    padding: 10px;
  }

  .navbar-links {
    flex-direction: column;
    align-items: center;
  }

  .text {
    font-size: 14px;
    margin: 5px 0;
  }



  .bottom-container {
    padding: 3em;
  }
}